.control-panel {
  position: relative;
  //height: 100%;
  border-radius: 25px;
  padding: 20px;
  background-color: #fbfbfb;
  border: 1px solid #f5f5f5 !important;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;

  &__header {
    &--main {
      font-size: 20px;
      text-align: center;
      color: black;
      font-family: "Sora", Verdana;
      font-weight: 600;
      line-height: 45px;
    }
    &--second {
      font-size: 15px;
      text-align: left;
      color: black;
      font-family: "Sora", Verdana;
      font-weight: 600;
      line-height: 36px;
    }
  }

  &__political-unions,
  &__geographic-positions,
  &__general-tools {
    margin-top: 14px;
    .disclaimer {
      font-size: 12px;
    }
  }
}
