.top_bar {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 80px;
  background-color: #102946;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  .logo {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    &-img {
      width: 256px;
      height: 64px;
    }
  }

  .nav {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    position: relative;
    &-item {
      align-self: center;
      &:hover {
        p {
          &::before {
            content: "";
            position: absolute;
            width: calc(100% + 25px);
            height: calc(100% + 15px);
            background-color: #356f9930;
            border-radius: 8px;
            z-index: -1;
            margin: 0;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
      p {
        color: white;
        margin-bottom: 0;
        font-weight: 100;
        position: relative;
        &::before {
          content: "";
        }
      }
    }
    &-bars {
      display: none;
      align-self: center;
      color: white;
      font-size: 1.5rem;
      margin-right: 16px;
      &:hover {
        color: #f9f7f7e3;
      }
    }
  }
}

.mobile-nav {
  display: flex;
  right: 100%;
  transition: right 700ms ease-out;
  background-color: #173c66;
  height: 100vh;
  position: absolute;
  z-index: 999;
  flex-direction: column;
  color: white;

  &-item {
    display: flex;
    flex: 1;
    align-self: center;
    font-size: 2.5rem;
    font-family: "Sora";

    a {
      align-self: center;
      text-decoration: none;
      color: white;
      &:hover {
        color: #f9f7f7ae;
      }
    }
  }

  &-close {
    position: absolute;
    font-size: 3rem;
    top: 30px;
    left: 30px;
    text-decoration: none;
    color: white;
    &:hover {
      color: #f9f7f7ae;
    }
  }

  &-icon-arrow-right {
    position: relative;
    top: 4px;
    left: 8px;
  }

  &.-active {
    display: flex;
    transition: right 700ms ease-in;
    right: 0%;
  }
}

@media screen and (max-width: 992px) {
  .top_bar {
    position: unset;
    &.responsive {
      .nav-item {
        float: none;
        display: block;
        text-align: left;
      }
    }
    .nav {
      &-item {
        display: none;
      }
      justify-content: end;
      &-bars {
        float: right;
        display: block;
      }
    }
  }
}
