.mapLegend {
  &__colors {
    //fill: #0000ff;
    stroke-linecap: square;
    stroke-linejoin: round;
    paint-order: fill markers stroke;
    stroke: #000000;
    stroke-opacity: 1;
    stroke-width: 1;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
  }
}
