.svg-container {
  border-radius: 25px;
  background-color: #102946;
}

#europe,
#africa,
#asia,
#north-america,
#south-america,
#world {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* fallback for old browsers */

  .hovered-country {
    stroke-width: 1px;
  }

  path {
    cursor: pointer;
  }
}
