#europe,
#africa,
#asia,
#north-america,
#south-america,
#world {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #1e3c72; /* fallback for old browsers */

  background: -webkit-linear-gradient(
    to right,
    #101f38,
    #1e3c72
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #101f38, #1e3c72);

  border-radius: 25px;

  .hovered-country {
    stroke-width: 1px;
  }

  /* background: -webkit-linear-gradient(
    to right,
    #2a5298,
    #1e3c72
  ); */ /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(
    to right,
    #2a5298,
    #1e3c72
  );   W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
