.svg-container {
  border-radius: 25px;
  background-color: #102946;
  /* 
  On touchscreens the following proprieties avoid 
  the zooming and dragging gestures to be interpreted 
  as default browser gestures and avoids the long press
  from being interpreted as text selection
  */
  touch-action: none;
  user-select: none;
}

#europe,
#africa,
#asia,
#north-america,
#south-america,
#world {
  display: block;
  margin-left: auto;
  margin-right: auto;

  .hovered-country {
    stroke-width: 1px;
  }

  path {
    cursor: pointer;
  }
}
