html {
  height: 100%;
  background-color: #0a253b;
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
}

.row {
  padding: 0;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.main {
  background-color: #0a253b;
  height: 100vh;
  position: relative;
}

body {
  background-color: #0a253b;
}

.hero,
.options-grid,
.panel {
  height: 100vh;
}
