body {
  background-color: #112d4e;
}

a {
  text-decoration: none !important;
}

.row {
  padding: 0;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.europe {
  background-color: #112d4e;
}
