.colorLegend {
  margin-top: 14px;
  &__colors {
    display: flex;
    flex-direction: column;
    margin-right: 14px;
    margin-bottom: 14px;
    transform: scale(1);
    transition: transform 100ms ease 0s;
    &__row {
      margin-bottom: 6px;
      .form-control {
        &.-disabled {
          cursor: not-allowed;
        }
      }
    }
    &__circle {
      background: transparent;
      height: 100%;
      width: 100%;
      position: relative;
      outline: none;
      border-radius: 50%;
      transition: box-shadow 100ms ease 0s;
      width: 14px;
      height: 14px;
      margin-bottom: 3px;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      &.-disabled {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
          rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
      }
    }
  }
  .-legend {
    padding: 0.187rem 0.37rem;
  }
}
