.colorLegend {
  &__colors {
    display: flex;
    flex-direction: column;
    margin-right: 14px;
    margin-bottom: 14px;
    transform: scale(1);
    transition: transform 100ms ease 0s;
    &__row {
      margin-bottom: 6px;
    }
    &__circle {
      background: transparent;
      height: 100%;
      width: 100%;
      position: relative;
      outline: none;
      border-radius: 50%;
      //box-shadow: rgb(211, 47, 47) 0px 0px 0px 15px inset;
      transition: box-shadow 100ms ease 0s;
      width: 14px;
      height: 14px;
      margin-bottom: 3px;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .-legend {
    padding: 0.187rem 0.37rem;
  }
}
