.hero {
  background-color: #112d4e;
  height: 100vh;
}

.earth-container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 19%;
  transform: translate(-50%, -50%);
  z-index: 333;

  #earth {
    position: relative;
    height: 300px;
    width: 300px;
    margin: 0.05em auto;
    background: #888
      url("https://luisconceicaodev.github.io/Interactive-Maps/blank_world_map.png")
      0 0 repeat;
    border-radius: 50%;
    background-size: 630px;
    animation: rotate 10s linear infinite;
    transition: transform 200ms linear;
    transform-style: preserve-3d;
    //box-shadow: inset 10px 0 40px 6px rgb(255 255 255);
    color: #000;
    box-shadow: 5px 10px #888888;
  }

  @keyframes rotate {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 630px 0;
    }
  }
}

.App {
  height: 100vh;
}

.text-container {
  font-family: "Sora";
  margin: 0;
  position: relative;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: #356f9930;
  padding: 50px;
  border-radius: 8px;
}

.column {
  &-left,
  &-right {
    background-color: #112d4e;
  }
}

@media screen and (max-width: 992px) {
  .earth-container,
  .text-container {
    transform: unset;
    position: unset;
    #earth {
      width: 250px;
      height: 250px;
    }
  }

  .text-container {
    padding: 35px;
  }
}
